In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.0f}'.format

In [2]:
df = pd.read_csv(r'C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\unclean_combined_dataset.csv')

In [3]:
df.head(5)

,id,text,Annotation
0,596965466238619648,I just found the *perfect* rental. Why can't m...,Neither
1,575891807873040384,"@wetsprocket every time they ""discover"" anythi...",Neither
2,595259457828884480,ok time to write code bbl.\n\nmaking a new thing.,Neither
3,572344911002927104,Refined dessert! NOT #MKR,Neither
4,568132033215475712,@furt1v3ly @ClarkHat One of the best things an...,Neither

In [4]:
#text column requires some cleaning before the data can be used in a model

#1 - removing any links (links to websites / pictures)
#twitter has a link shortener where links will begin with http://t.co

print("example tweet with a link in it:\n", df.iloc[123].text)

import re
print("\n remove substrings of the 'text' column that have a http or https link...\n")
for i in range(len(df)):
    current_text = df.iloc[i].text
    text_without_link = re.sub('http://\S+|https://\S+', '', current_text)
    df['text'] = df['text'].replace(current_text, text_without_link)
    
print("the tweet text now reads:\n", df.iloc[123].text)

df.to_csv(r"C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\dataset_no_links.csv", 
          index=False)

example tweet with a link in it:
 Verification: Yes, this is me. http://t.co/UQ9CEJVuAp

 remove substrings of the 'text' column that have a http or https link...

the tweet text now reads:
 Verification: Yes, this is me.

In [5]:
#2 - removing any text that immidiately follows an @ / remove RT
#on twitter, text that immidiately follows the @ is known as a tag. this is a way to involve another
#user with the tweet, these do not relate to the sentiment of the tweet so they will be removed.

print("example tweet with an @ in it:\n", df.iloc[512].text)
print("\n remove substrings of the 'text' column that begin with an @...\n")

for i in range(len(df)):
    current_text = df.iloc[i].text
    text_without_at = re.sub('@\S+', '', current_text)
    df['text'] = df['text'].replace(current_text, text_without_at)
    
print("the tweet text now reads:\n", df.iloc[512].text)

#RT is text that tends to specify a retweet, removing as it doesnt add much to the context
print("\nexample tweet with an RT in it:\n", df.iloc[9].text, "\n")
for i in range(len(df)):
    current_text = df.iloc[i].text
    text_without_rt = re.sub(r"\bRT\b", "", current_text)
    df['text'] = df['text'].replace(current_text, text_without_rt)
    
print("the tweet text now reads:\n", df.iloc[9].text)


df.to_csv(r"C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\dataset_nl_n@.csv", 
          index=False)

example tweet with an @ in it:
 @Auragasmic &lt;--Hysterical feminazi Level 100 @jtidyman @TheMitch182 @E__Strobel

 remove substrings of the 'text' column that begin with an @...

the tweet text now reads:
  &lt;--Hysterical feminazi Level 100

example tweet with an RT in it:
 RT  Gonna be making a big announcement at the panel I am on about online harassment today :D

the tweet text now reads:
   Gonna be making a big announcement at the panel I am on about online harassment today :D

In [6]:
#3 - punctuation cleaning 
#some symbol cleaning 
#change &amp; to and
df['text'] = df['text'].str.replace('&amp;', 'and')
# remove &lt; (<)
df['text'] = df['text'].str.replace('&lt;', '')
print("the last tweet text now reads:\n", df.iloc[512].text, "\n")

#remove punctuation
print("example tweet with some punctuation in it:\n", df.iloc[3123].text)
df['text'] = df['text'].str.replace('[^\w\s]','')
print("the tweet text now reads:\n", df.iloc[3123].text)

df.to_csv(r"C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\dataset_nl_n@_np.csv", 
          index=False)

the last tweet text now reads:
  --Hysterical feminazi Level 100

example tweet with some punctuation in it:
 It's difficult deciding to call out something as being problematic, because that gives it attention and not many people know about it.
the tweet text now reads:
 Its difficult deciding to call out something as being problematic because that gives it attention and not many people know about it

In [7]:
#4 - remove tweets which are now empty
print("here is a datapoint with an empty field")
print(df.iloc[16], "\n")
df = df.replace(r'^\s*$', np.nan, regex=True)
print("Dataset length before empty removal:", len(df))
df = df.dropna()

#reset the index since we removed some items
df = df.reset_index()
df = df.drop(['index'], axis=1)
print("Dataset length after empty removal:", len(df), "\n")
print("the datapoint has now been removed and index reformatted\n")
print(df.iloc[16])

df.to_csv(r"C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\dataset_nl_n@_np_ne.csv", 
          index=False)

here is a datapoint with an empty field
id           573180997631537216
text
Annotation              Neither
Name: 16, dtype: object

Dataset length before empty removal: 6946
Dataset length after empty removal: 6836

the datapoint has now been removed and index reformatted

id                                           563378742152540160
text            And White people who bring up queerness or b...
Annotation                                              Neither
Name: 16, dtype: object

In [8]:
import nltk
#6 - lowercase / tokenize
df["text"] = df["text"].str.lower()

#tokenize text into a separate column
df['tokenized_text'] = df.apply(lambda row: nltk.word_tokenize(row['text']), axis=1)

df.to_csv(r"C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\dataset_nl_n@_np_ne_tokens.csv", 
          index=False)

df.head(5)

,id,text,Annotation,tokenized_text
0,596965466238619648,i just found the perfect rental why cant my le...,Neither,"[i, just, found, the, perfect, rental, why, ca..."
1,575891807873040384,every time they discover anything its either ...,Neither,"[every, time, they, discover, anything, its, e..."
2,595259457828884480,ok time to write code bbl\n\nmaking a new thing,Neither,"[ok, time, to, write, code, bbl, making, a, ne..."
3,572344911002927104,refined dessert not mkr,Neither,"[refined, dessert, not, mkr]"
4,568132033215475712,one of the best things anyone can do to impr...,Neither,"[one, of, the, best, things, anyone, can, do, ..."

In [9]:
#5 - stopword removal
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

stop = stopwords.words('english')

df['tokenized_text'] = df['tokenized_text'].apply(lambda x: [item for item in x if item not in stop])

df.to_csv(r"C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\dataset_nl_n@_np_ne_tokens_ns.csv", 
          index=False)

df.head(5)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jackc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,id,text,Annotation,tokenized_text
0,596965466238619648,i just found the perfect rental why cant my le...,Neither,"[found, perfect, rental, cant, lease, right]"
1,575891807873040384,every time they discover anything its either ...,Neither,"[every, time, discover, anything, either, inco..."
2,595259457828884480,ok time to write code bbl\n\nmaking a new thing,Neither,"[ok, time, write, code, bbl, making, new, thing]"
3,572344911002927104,refined dessert not mkr,Neither,"[refined, dessert, mkr]"
4,568132033215475712,one of the best things anyone can do to impr...,Neither,"[one, best, things, anyone, improve, understan..."

In [10]:
from nltk.stem import WordNetLemmatizer 
#lemmatize
def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(w) for w in text]

df['text_lemma'] = df["tokenized_text"].apply(lemmatize_text)

df.to_csv(r"C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\dataset_nl_n@_np_ne_tokens_ns_lem.csv", 
          index=False)

df.head(5)

,id,text,Annotation,tokenized_text,text_lemma
0,596965466238619648,i just found the perfect rental why cant my le...,Neither,"[found, perfect, rental, cant, lease, right]","[found, perfect, rental, cant, lease, right]"
1,575891807873040384,every time they discover anything its either ...,Neither,"[every, time, discover, anything, either, inco...","[every, time, discover, anything, either, inco..."
2,595259457828884480,ok time to write code bbl\n\nmaking a new thing,Neither,"[ok, time, write, code, bbl, making, new, thing]","[ok, time, write, code, bbl, making, new, thing]"
3,572344911002927104,refined dessert not mkr,Neither,"[refined, dessert, mkr]","[refined, dessert, mkr]"
4,568132033215475712,one of the best things anyone can do to impr...,Neither,"[one, best, things, anyone, improve, understan...","[one, best, thing, anyone, improve, understand..."

In [11]:
#finally, add a binary Hate column which we will use for hate/non-hate classification
df['Hate'] = 0
for i in range(len(df)):
    if (df['Annotation'][i] != 'Neither'):
        df['Hate'][i] = 1
        
df.to_csv(r"C:\Users\jackc\Semester2\Project\Identifying-Hate-Speech-Categories-On-Social-Media\Data\clean_dataset.csv", 
          index=False)
        
df.iloc[1000]

<ipython-input-11-5c3cf0e1db0e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Hate'][i] = 1

id                                               570731745752064000
text               yes it is legit sweden is one place any livin...
Annotation                                                   Sexism
tokenized_text    [yes, legit, sweden, one, place, living, thing...
text_lemma        [yes, legit, sweden, one, place, living, thing...
Hate                                                              1
Name: 1000, dtype: object